---
---
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import "{{ site.theme }}";
@import "variables";

h2#welcome-to-github-pages {
	//color: $black;
}

.btc-bars {
	width: 50px;
	height: auto;
	transform: rotate(180deg);
	margin-top: 10px;
}

.btn {
	width: 200px;
	text-align: center;
}

.page-header {
	position: relative;
	//background-image: url('/assets/images/john-price-1700-474-unsplash-cropped.jpg');
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.main-menu {
	position: absolute;
	bottom: 20px;
	.navbar {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		li>a {
			font-weight: 300;
			font-size: 18px;
			color: $white;
			padding: 5px 15px;
			&:hover {
				color: $yellow;
				text-decoration: none;
			}
		}
	}
}
.main-content {
	.posts-list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 10px;
			a {
				font-size: 20px;
			}
		}
	}
	.page-title {
		margin-bottom: 30px;
	}
	.post-date {
		font-size: 14px;
		font-weight: 300;
		color: $grey;
	}
}
